numpy
pandas
opencv-contrib-python
scikit-learn
scipy
matplotlib
seaborn
tensorflow
keras
jupyter
google-colab
pillow
kaggle
google-auth
image_hash
albumenations
scikit-image
torch
torch-audio
plotly
